
@{
	ViewBag.Title = "Privacypoliciy";
}

	<hr />
<div class="green-card-div">
	<h1> Privacy Policy for sudoku.com </h1>
		<p> At sudoku.com, which can be accessed from https://sudoku.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by sudoku.com and how we use it. </p>
		<p> If you have any further questions or need more information about our Privacy Policy, do not hesitate to contact us. </p>
		<h2> Log Files </h2>
			<p> sudoku.com follows a standard procedure of using log files. These files record visitors when they visit websites. All hosting companies do this and it is part of the analysis of their hosting services. Information collected by log files includes internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referrer/exit pages, and possibly number of clicks. They are not linked to any personally identifiable information. The purpose of the information is to analyze trends, administer the site, monitor users' movements on the website and collect demographic information.</p>
				<h2> Cookies and Web Beacons </h2>
					<p> Like any other website, sudoku.com uses 'cookies'. These cookies are used to store information, including visitors' preferences and the pages on the website the visitor is accessing or visiting. The information is used to optimize users' experience by customizing our web page content based on visitors' browser type and/or other information. </p>
					<p> For more general information about cookies, please visit the <a rel="nofollow" href="https://www.cookieconsent.com/what-are-cookies/"> Cookie Consent website </a> "What is a Cookie" Read the article. . </p>
				<h2> Google DoubleClick DART Cookie </h2>
					<p> Google is one of the third-party vendors on our site. It also uses what are known as DART cookies to serve ads to our site visitors based on their visit to www.website.com and other sites on the internet. However, visitors can choose to refuse the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL - <a rel="nofollow" href="https://policies.google.com/technologies/ads"> https://policies.google.com/technologies/ads </a> </p>
				<h2> Our Advertising Partners </h2>
					<p> Some advertisers on our site may use cookies and web beacons. Our advertising partners are listed below. Each of our advertising partners has their own Privacy Policy for their policies regarding user data. We have hyperlinked to the Privacy Policies below for easier access. </p>

					<ul>
						<li>
							<p> Google </p>
							<p> <a rel="nofollow" href="https://policies.google.com/technologies/ads"> https://policies.google.com/technologies/ads </a> </p>
						</li>
					</ul>

		<h2> Privacy Policies </h2>
			<p> You can refer to this list to find the Privacy Policy of each advertising partner of sudoku.com. </p>
			<p> Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on sudoku.com, which are sent directly to users' browser. They automatically get your IP address when this happens. These technologies are used to measure the effectiveness of advertising campaigns and/or to personalize the advertising content you see on the websites you visit. </p>
			<p> Please note that sudoku.com has no access or control to these cookies used by third-party advertisers. </p>
			<h2> Third Party Privacy Policies </h2>
			<p> sudoku.com's Privacy Policy does not apply to other advertisers or websites. Therefore, we recommend that you refer to the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions on how to opt out of certain options. </p>
</div>